<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Invoice</h3>
    
    <table>
        <tbody>
            <tr>
                <td>Invoice id :</td>
                <td data-th-text="${invoiceid}">-</td>
            </tr>
            <tr>
                <td>Name :</td>
                <td data-th-text="${address.name}">-</td>
            </tr>
            <tr>
                <td>Address :</td>
                <td data-th-text="${address.address}">-</td>
            </tr>
            <tr>
                <td>Total :</td>
                <td data-th-text="${total}">-</td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>